sessioninfo==1.1.1          
PerformanceAnalytics==2.0.4
xts==0.12.1                 
vars==1.5-3                
urca==1.3-0                 
strucchange==1.5-2         
MASS==7.3-51.6              
ggplot2==3.3.0             
stargazer==5.2.2            
sandwich==3.0-0            
broom==0.7.6                
lmtest==0.9-38             
zoo==1.8-9                  
multiwayvcov==1.2.3        
car==3.0-10                 
carData==3.0-4             
readxl==1.3.1  
